@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: body, ui-sans-serif;
}

@font-face {
  font-family: body;
  src: url(assets/fonts/SF-Pro-Text-Regular.otf);
}
